/* header.css */

header {
    column-gap: 10px;
    padding: 6vh 6rem;
    align-items: center;
    text-align: center;
}

.caixaHeader {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    background-color: rgb(14, 13, 49);
    padding: 15px;
    border-radius: 15px;
}

.caixaHeader a {
    text-decoration: none;
    color: white;
}

.caixaHeader a:hover {
    text-decoration: none;
    color: rgb(112, 50, 228)
}

header p{
    margin: 0;
}

header img {
    height: 8vh;
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    header {
        column-gap: 1vh;
        font-size: 10px;
        padding: 4vh 1rem;
    }
    header img {
        height: 4vh !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    header {
        font-size: 10px;
        padding: 4vh 3rem;
    }
    header img {
        height: 4vh !important;
    }
}