@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*BARRA LATERAL MENOR*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}




body {
    background: linear-gradient(to right, rgb(2, 1, 39), rgb(2, 0, 15));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


h5 {
    grid-column-start: 2;
}

main {
    display: grid;
    grid-template-columns: 0.7fr 4fr 0.7fr 2fr;
    text-align: left;
    row-gap: 2vh;
    padding-top: 4vh;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;
}

.box {
    grid-column-start: 2;
    color: white; 
}

.box h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;

}

.Curriculo {
    grid-column-start: 4;
    border-radius: 15px;
    background-color:  rgb(14, 13, 49);
    width: 270px;
    height: 75px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
}

.Curriculo a {
    text-decoration: none;
    color: white;
}

.Curriculo p  {
    margin: 0;
}

.atuais {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    align-items: center;
}

.atuais div {
    grid-column-start: 2;
    align-items: center;
}

.atuais div a{
    grid-column-start: 2;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0;
}

.atuais div p {
    grid-column-start: 2;
    text-align: center;
    margin: 0;
}

.cursadas {
    grid-column-start: 2;
    column-gap: 10px;
    font-size: 15px;
}

.atividades {
    grid-column-start: 2;
    column-gap: 10px;
    font-size: 15px;
}

.cursadas a {
    text-decoration: none;
    color: black;
}

.atividades a {
    text-decoration: none;
    color: black;
}




.conhecimentos {
    grid-column-start: 2;
    column-gap: 10px;
    font-size: 15px;
}

.conhecimentos a {
    text-decoration: none;
    color: black;
}

.conhecimentos a {
    text-decoration: none;
    color: black;
}











button {
    border: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0); /* Fundo com 50% de transparência */
    border: none;
    color: black; 
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

.apresentacao {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    column-gap: 10px;
}

.apresentacao  {
    align-items: center;
    text-align: center;
}

.circle {
    width: 150px;          
    height: 175px;  
    border-radius: 100%;       
    overflow: hidden;      
    align-items: center;   
    justify-content: center;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
    body {
        font-size: 10px !important;
    }

    main {
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    h5 {
        font-size: 12px !important;
    }

    ul, li {
        font-size: 10px !important;
    }

    img {
        width: 75px !important;          
        height: 90px !important;
    }

    button {
        font-size: 8px !important;
    }

    main p {
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 1rem !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 10px !important;
    }

    main {
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    h5 {
        font-size: 12px !important;
    }

    ul, li {
        font-size: 10px !important;
    }

    img {
        width: 75px !important;          
        height: 90px !important;
    }

    button {
        font-size: 8px !important;
    }

    main p {
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 1rem !important;
    }
}