* {
    background-color: black;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 0.1fr 3.8fr 0.1fr;
}

header {
    text-align: center;
    padding: 25px;
}

header p {
    line-height: 1.5;
    margin: 0;
}

nav {
    padding: 10px;
    text-align: right;
}

nav div {
    display: flex;
    gap: 30px;
    justify-content: right;
    margin-right: 35px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: transform 0.6s ease;
}

nav a:hover {
    transform: translateY(-5px);
}

.central {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

.quadroBranco {
    font-size: 15px;
    row-gap: 15px;
    text-align: center;
    background-color: black;
    border-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.8s ease, background-color 0.9s ease;
}

footer {
    color: white;
    text-align: center; 
    padding: 10px 0;
}